<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>672590690957-a2g7d2lii7pi6mc1a8fv3vp2qmmu2107.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.672590690957-a2g7d2lii7pi6mc1a8fv3vp2qmmu2107</string>
	<key>API_KEY</key>
	<string>AIzaSyDTMHpFNrECxSmX9IS8U5vpw_o5qpFZO5E</string>
	<key>GCM_SENDER_ID</key>
	<string>672590690957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.justinre.furasta</string>
	<key>PROJECT_ID</key>
	<string>furasta-35d18</string>
	<key>STORAGE_BUCKET</key>
	<string>furasta-35d18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672590690957:ios:a4276f772db4c3f70b40c4</string>
</dict>
</plist>